<p-dialog header="Welcome to the Memory Game! 🃏✨" [closable]="false" [modal]="true" [(visible)]="visible"
    [style]="{ width: '25rem' }">
    <p>
        The goal is simple: match pairs of cards to win! You’ll start with a set of face-down cards, and your job is to
        pick
        two cards at a time. If they match, they’ll stay open; if not, they’ll flip back over. Test your memory skills
        across three exciting difficulty levels:
    </p>

    <div class="level-info">
        <p><strong>Easy</strong>: 8 cards (4 pairs)</p>
        <p><strong>Medium</strong>: 12 cards (6 pairs)</p>
        <p><strong>Hard</strong>: 16 cards (8 pairs)</p>
    </div>

    <p>
        Challenge yourself to remember where the pairs are and see how quickly you can match them all! The faster you
        find
        all pairs, the higher your score. Are you ready to become a memory master? Let's get started! 🎉
    </p>

    <p-button label="Start Game" icon="pi pi-play" (click)="startGame()" styleClass="p-button-success"></p-button>
</p-dialog>
<router-outlet></router-outlet>